<section class="gradient-custom">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">
                Please enter your login and password!
              </p>

              <form [formGroup]="loginForm">
                <div class="form-outline form-white mb-2">
                  <label for="email" class="form-label">Email </label>
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control form-control-lg"
                    placeholder="example@example.com"
                  />
                  <div
                    *ngIf="
                      loginForm.controls['email'].invalid &&
                      loginForm.controls['email'].touched
                    "
                  >
                    <p>Please enter your email</p>
                  </div>
                </div>
                <div class="form-outline form-white mb-2">
                  <label for="password" class="form-label">Password </label>
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control form-control-lg"
                    placeholder="Example12."
                  />
                  <div
                    *ngIf="
                      loginForm.controls['password'].invalid &&
                      loginForm.controls['password'].touched
                    "
                  >
                    <p>Please enter your password</p>
                  </div>
                </div>

                <!-- added a form so the button would act like <a href="home">, so the header would update and display the logout button -->
              <form>
                <button formaction="/home" (click)="onLogin()" [disabled]="loginForm.invalid" class="btn btn-outline-light btn-lg px-5 mt-5">Log in</button>
              </form>

              </form>
            </div>

            <div>
              <p class="mb-0">
                Don't have an account?
                <a routerLink="/register" class="text-white-50 fw-bold"
                >Sign Up</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
