<div class="container py-5 ">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h1>Welcome to my form app!</h1>
              <a
                *ngIf="email !== null; else logIn"
                routerLink="/create"
                class="btn btn-outline-light btn-lg px-5"
              >Create Travel Form</a
              >

              <ng-template #logIn>
                <a routerLink="/login" class="btn btn-outline-light btn-lg px-5"
                >Log In</a
                >
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
